html, body{
  height:100%;
  background-image: url("mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  overflow: hidden;
}
.makeStyles-container-5{
  justify-content: center;
  margin-top: 50px;
}
 .css-1eucw4r{
    margin-bottom: 30px;
    margin-top: -8px;
 }

 .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  background-color: transparent !important;
 }

.date-time{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
.buttons{
  text-align: center;
}
.title{
  margin-top: 60px;
}

.plus-icon{
  padding-right: 10px;
}
.css-h93ljk-MuiTypography-root{
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  background-color: #f1f3f4;
  margin-left: -20px !important;
}
.css-3bmhjh-MuiPaper-root-MuiPopover-paper{
  padding: 0px 20px 20px 20px;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root, .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  margin-left: 15px !important;
}
table{
  margin-top: 50px;
}
th{
  padding: 10px;
  background-color: #f8fafc;
  border-bottom: 2px solid #c6d5e3;
}
.css-1l9sosn-MuiButtonBase-root-MuiButton-root.delete-button{
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: red;
}
table tbody tr:nth-child(1) {
  display : none;
}
.css-1ex1afd-MuiTableCell-root {
  color:#fff !important;
}
.no-event{
  color: #fff;
  margin-top: 50px;
}
.loading{
  justify-content: center;
  padding-top: 200px;
}
